.cart {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-items {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    width: 60%;
}

.cart-list {
    list-style: none;
    padding: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.item-details {
    display: flex;
    align-items: center;
}

.item-image {
    max-width: 150px;
    max-height: 150px;
    border-radius: 5px;
    margin-right: 20px;
}

.item-info {
    flex-grow: 1; /* Ocupa el espacio disponible */
    display: flex;
    flex-direction: column;
}

.item-actions {
    display: flex;
    align-items: center;
}

.action-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    margin: 0 10px;
    cursor: pointer;
}

.quantity-modifier {
    display: flex;
    align-items: center;
}

.quantity-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    margin: 0 5px;
    cursor: pointer;
}

.cart-total {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.menu-button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none; /* Elimina la decoración de enlace */
}

.menu-button:hover {
    background-color: #0056b3;
}
